* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(12, 12, 12);
    color: #d8d8d8;
    display: flex;
    flex-direction: column;
}

.bbs {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.2));
}

.main {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    text-align: left;
    background-color: rgb(20, 20, 20);
    width: 75%;
    border-radius: 10px;
}

.main a {
    text-decoration: none;
    color: rgb(0, 145, 212);
}

.main h1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main h1 img {
    margin-left: 5px;
}

.text {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iframe_container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 20px 0 0 0;
}

.iframe_container iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 150px;
    font-size: 25px;
    font-weight: 600;
    text-align: center; /* centre le texte au milieu du header */
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.737)),
        url("../src/header-bg.png") no-repeat center center;
    background-size: cover;
}

header a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}
header a:hover {
    text-decoration: none;
    color: rgb(157, 157, 157);
}

p {
    margin-top: 20px;
}

select,
input,
button {
    background-color: rgb(32, 33, 37);
    color: #d8d8d8;
    border-radius: 20px;
    padding: 10px;
    border-color: rgb(58, 57, 57);
    border-style: solid;
}

button:hover {
    background-color: #3a3939;
}
button:active {
    background-color: #5e5e5e;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.tuto {
    background-color: rgb(17, 16, 16);
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 3px #3a3939;
    overflow: hidden;
}

.tuto img {
    width: 100%;
}

.tuto > h2 {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 17px;
}
.grid a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    transform: scale(1);
    transition: transform 0.1s;
}
.grid a:hover {
    transform: scale(1.07);
    transition: transform 0.1s;
}

@media (max-width: 2530px) {
    .tuto > h2 {
        font-size: 20px;
    }
}

@media (max-width: 1500px) {
    .main {
        padding: 20px;
        margin-top: 15px;
        width: 75%;
    }
    .tuto > h2 {
        font-size: 20px;
    }
}

@media (max-width: 1180px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 15px;
    }
    header {
        font-size: 20px;
    }
}

@media (max-width: 960px) {
    header {
        font-size: 15px;
    }
}

@media (max-width: 770px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
    }
    .main {
        padding: 20px;
        margin-top: 10px;
        width: 80%;
    }
}

@media (max-width: 740px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
    }
}

@media (max-width: 630px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 10px;
    }
}

@media (max-width: 510px) {
    .main {
        padding: 15px;
        margin-top: 5px;
        width: 90%;
    }
    .main h1 {
        font-size: 25px;
    }
}

/* NAV DESKTOP */
.nav-links {
    display: flex;
    gap: 30px;
}

.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    color: #d8d8d8;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: rgb(35, 35, 35);
}

/* SIDEBAR ACTIVE */
.sidebar.active {
    left: 0;
}

@media (max-width: 830px) {
    .nav-links {
        display: none; /* cache les liens */
    }

    .burger {
        display: block; /* affiche le burger */
    }

    header {
        justify-content: space-between;
        padding: 20px 30px;
    }
}
