* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(12, 12, 12);
    color: #d8d8d8;
    display: flex;
    flex-direction: column;
}

.bbs {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.2));
}

.main {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgb(20, 20, 20);
    width: 75%;
    border-radius: 10px;
}

.main a {
    text-decoration: none;
    color: rgb(0, 145, 212);
}

.main h1 {
    display: flex;
    margin-bottom: 10px;
}

.text {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text iframe {
    margin-top: 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 150px;
    font-size: 25px;
    font-weight: 600;
    text-align: center; /* centre le texte au milieu du header */
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.737)),
        url("../src/header-bg.png") no-repeat center center;
    background-size: cover;
}

header a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}
header a:hover {
    text-decoration: none;
    color: rgb(157, 157, 157);
}

p {
    margin-top: 20px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.tuto {
    background-color: rgb(17, 16, 16);
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 3px #3a3939;
    overflow: hidden;
}

.tuto img {
    width: 100%;
}

.tuto > h2 {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* ou max-width: 100%; */
}
.grid a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    transform: scale(1);
    transition: transform 0.1s;
}
.grid a:hover {
    transform: scale(1.07);
    transition: transform 0.1s;
}
